.storyFlexWrapper {
    align-self: center;
    text-align: left;
    display: flex;
    justify-content: center;
    flex-direction: column;

    .storySpaceWrapper {
        padding-left: 170px;

        .storyTitle {
            font-size: 20px;
            letter-spacing: 0;
            color: #707070;
            font-family: "RyuGHbatang", serif;
            line-height: 29px;
        }

        .storyVerticalHr {
            width: 1px;
            height: 200px;
            border-right: 2px solid #517E71;
            margin: 20px 0;
        }

        .storyDescription {
            letter-spacing: 0;
            color: #707070;
            font-family: "RyuGHbatang", serif;
            font-size: 18px;
            line-height: 29px;
        }
    }
}