.storyFlexWrapper {
    align-self: center;
    text-align: left;
    display: flex;
    justify-content: center;
    flex-direction: column;

    .storySpaceWrapper {
        padding-left: 170px;

        .storyTitle {
            font-size: 20px;
            letter-spacing: 0;
            color: #707070;
            font-family: "RyuGHbatang", serif;
            line-height: 29px;
        }

        .storyVerticalHr {
            width: 1px;
            height: 200px;
            border-right: 2px solid #517E71;
            margin: 20px 0;
        }

        .storyDescription {
            letter-spacing: 0;
            color: #707070;
            font-family: "RyuGHbatang", serif;
            font-size: 18px;
            line-height: 29px;
        }
    }
}

.menuFirstSection {
    padding: 80px 0;
    position: relative;
    background-color: #ffffff;

    .menuTitleTextWrapper {
        text-align: center;
        padding-bottom: 80px;
    }
}

.menuSwiper {
    height: auto;
}

.menuListSection {
    padding: 100px 0 160px;

    &.katsuSection {
        background-color: #FFE4C7;
    }

    &.donburiSection {
        background-color: #DED8CE;
    }

    &.noodleSection {
        background-color: #D5E3DF;
    }

    &.sideSection {
        background-color: #EAD3CD;
    }

    
}

.storeSection {
    padding: 80px 0;
    background-color: #ffffff;
    position: relative;

    .titleTextWrapper {
        text-align: center;
        padding-bottom: 80px;
    }

    .storeImageWrapper {
        margin-bottom: 80px;
    }

    .storeTextWrapper {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;

        .storeTextTitle {
            font-size: 28px;
            font-family: "RyuGHbatang", serif;
            letter-spacing: 0;
            color: #ffffff;
            padding-bottom: 30px;
        }

        .storeTextDescription {
            font-size: 16px;
            font-family: "RyuGHbatang", serif;
            letter-spacing: 0;
            color: #ffffff;
            line-height: 22px;
        }
    }

    .storeMapWrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .storeMarkerWrapper {
            padding-bottom: 30px;
        }

        .storeMapTitle {
            font-family: "RyuGHbatang", serif;
            font-size: 28px;
            letter-spacing: 0;
            color: #2F2F2F;
            padding-bottom: 40px;
            font-weight: bold;
        }

        .storeMapDescription {
            font-family: "RyuGHbatang", serif;
            font-size: 20px;
            color: #2f2f2f;
            letter-spacing: 0;
            padding-bottom: 40px;
        }
    }
}

.kaliscoButton {
    padding: 21px 54px 18px;
    background-color: rgba($color: #e8390e, $alpha: 0.9);
    box-shadow: 0px 3px 0px #00000029;
    border-radius: 8px;
    font-family: "RyuGHbatang", serif;
    font-size: 18px;
    line-height: 26px;
    color: rgba($color: #ffffff, $alpha: 0.8);
    letter-spacing: -0.36px;
    text-decoration: none;
    display: inline-block;
    min-width: 240px;
    box-sizing: border-box;
    text-align: center;
}