.backgroundWrapper {
    position: absolute;
    width: 100%;
    height: 100%;

    .layoutWrapper {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;

        .title {
            margin-top: auto;
            margin-bottom: 80px;
        }

        .menuList {
            display: flex;
            justify-content: center;
            list-style: none;
            padding: 0 0 12px 0;
            margin: 0;

            >.menu {
                &:not(:last-child) {
                    margin-right: 30px;
                }

                .menuLink {
                    display: inline-block;
                    padding: 16px 34px;
                    color: rgba($color: #ffffff, $alpha: 0.5);
                    text-decoration: none;
                    border-bottom: 3px solid transparent;

                    &:hover {
                        color: rgba($color: #ffffff, $alpha: 0.8);
                        border-bottom: 3px solid rgba($color: #ffffff, $alpha: 0.8);
                    }

                    &.active {
                        color: #ffffff;
                        border-bottom: 3px solid #ffffff;

                        &:hover {
                            color: #ffffff;
                            border-bottom: 3px solid #ffffff;
                        }
                    }
                }
            }
        }
    }
}

.talentFirstSection {
    padding-top: 84px;
    padding-bottom: 153px;
    background-color: #ffffff;

    .titleWrapper {
        text-align: center;
        padding-bottom: 132px;
    }

    .gridWrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .imageWrapper {
            height: 120px;
            padding-bottom: 32px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .gridTitle {
            font-size: 18px;
            font-weight: 700;
            letter-spacing: 0;
            color: #2f2f2f;
            font-family: "RyuGHbatang", serif;
            padding-bottom: 12px;
            text-align: center;
        }

        .gridParagraph {
            font-family: "RyuGHbatang", serif;
            letter-spacing: 0;
            color: #2f2f2f;
            text-align: center;
            font-size: 18px;
            font-weight: 400;
        }
    }
}

.talentSecondSection {
    position: relative;

    .peopleBackgroundImageWrapper {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .peopleBackgroundWrapper {
        position: relative;

        .peopleTextImageWrapper {
            text-align: center;
            padding-top: 100px;
            padding-bottom: 60px;
        }

        .peopleParagraph {
            text-align: center;
            font-family: "RyuGHbatang", serif;
            font-size: 20px;
            letter-spacing: 0;
            line-height: 29px;
            color: #ffffff;
            padding-bottom: 100px;
        }

        /* autoprefixer grid: autoplace */
        .peopleGridWrapper {
            display: grid;
            max-width: 1130px;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(auto, auto);
            margin: 0 auto;
            grid-gap: 130px;
            padding-bottom: 100px;

            .peopleCircle {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 212px;
                height: 212px;
                border-radius: 50%;
                border: 1px solid #ffffff;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 30px;
                color: #ffffff;
                font-weight: 700;
                font-family: "RyuGHbatang", serif;
                letter-spacing: 0;
                font-size: 22px;
            }

            .peopleGridParagraph {
                letter-spacing: 0;
                font-family: "RyuGHbatang", serif;
                color: #ffffff;
                text-align: center;
                font-size: 18px;
            }
        }
    }
}

.educationSection {
    background-color: #F4F4F4;
    position: relative;
    // background-image: url("../../static/svg/hr-section1-text-bg.svg");
    // background-position: center center;
    // background-repeat: no-repeat no-repeat;
    padding-top: 84px;
    padding-bottom: 50px;

    .educationSubTitle {
        color: #2f2f2f;
        letter-spacing: 0;
        text-align: center;
        font-family: "RyuGHbatang", serif;
        font-size: 20px;
        padding-bottom: 40px;
    }

    .educationContainer {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        background-color: #ffffff;
        padding: 90px 105px;
        position: relative;
        box-sizing: border-box;

        @media screen and (max-width: 576px) {
            max-width: 100%;
        }

        @media screen and (min-width: 576px) {
            max-width: 540px;
        }

        @media screen and (min-width: 768px) {
            max-width: 720px;
        }

        @media screen and (min-width: 992px) {
            max-width: 960px;
        }

        @media screen and (min-width: 1140px) {
            max-width: 1140px;
        }

        .educationContainerImageWrapper {
            position: absolute;
            bottom: -32px;
            left: -100px;
        }

        /* autoprefixer grid: autoplace */
        .educationFlexWrapper {
            display: flex;
            justify-content: center;
            gap: 60px;
            flex-wrap: wrap;

            .educationTrainingImageWrapper {
                text-align: center;
                padding-bottom: 30px;
            }

            .eudcationTrainingTitle {
                font-family: "RyuGHbatang", serif;
                font-size: 22px;
                font-weight: 700;
                letter-spacing: 0;
                color: #2f2f2f;
                text-align: center;
            }

            .eudcationTrainingParagraph {
                font-size: 18px;
                letter-spacing: 0;
                color: #2f2f2f;
                font-family: "RyuGHbatang", serif;
                text-align: center;
                padding-bottom: 30px;
            }

            .educationTrainingDescription {
                font-size: 18px;
                letter-spacing: 0;
                color: #2f2f2f;
                font-family: "RyuGHbatang", serif;
                text-align: center;
            }
        }
    }
}

.welfareFirstSection {
    padding: 100px 0;
    background-color: #f4f4f4;

    .systemTitle {
        font-size: 40px;
        text-align: center;
        font-family: "RyuGHbatang", serif;
        padding-bottom: 32px;
    }

    .systemParagraph {
        text-align: center;
        letter-spacing: 0px;
        color: #2F2F2F;
        font-size: 20px;
        font-family: "RyuGHbatang", serif;
        padding-bottom: 100px;
    }

    .systemPanelWrapper {
        display: flex;
        justify-content: center;

        .systemPanel {
            background: #FFFFFF 0% 0% no-repeat padding-box;
            border-radius: 20px;

            &.systemFirstPanel {
                margin-right: 30px;
                padding: 60px 87px 60px 30px;
            }

            &.systemSecondPanel {
                padding: 60px 39px 60px 30px;
            }
        }
    }
}

.welfareSecondSection {
    padding: 100px 0;
    background-color: #ffffff;
}