.closeButtonWrapper {
    padding-bottom: 33px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .close {
        background-color: transparent;
        border: none;
        font-size: 40px;
        cursor: pointer;
        padding: 0;
        margin: 0;
        line-height: 0.55;
        color: #2f2f2f;

        &:focus {
            outline: none;
        }
    }
}

.titleLayerWrapper {
    display: flex;
    padding-bottom: 24px;

    .titleWrapper {
        .normalTitle {
            font-family: "Nanum Myeongjo", serif;
            font-size: 24px;
            letter-spacing: 0;
            color: #2f2f2f;
            line-height: 28px;
            font-weight: bold;
        }

        .enTitle {
            font-family: "Nanum Myeongjo", serif;
            font-size: 16px;
            letter-spacing: 0;
            color: rgba($color: #2f2f2f, $alpha: 0.5);
            line-height: 21px;
            font-weight: bold;
        }
    }

    .price {
        margin-left: auto;
        font-size: 24px;
        font-family: "Nanum Myeongjo", serif;
        letter-spacing: 0;
        color: #2f2f2f;
    }
}

.description {
    font-family: "Nanum Myeongjo", serif;
    font-size: 15px;
    line-height: 16px;
    color: #707070;
    letter-spacing: 0;
    padding-bottom: 32px;
}

.imageBackgroundWrapper {
    background-color: #f4f4f4;
    padding: 30px;
    text-align: center;
}
