.mobileNav {
  background-color: rgba(255, 255, 255, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  border-bottom: 1px solid #dddddd;
  padding: 18px 20px;

  .mobileNavListWrapper {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;

    .hamburgerMenuWrapper {
      margin-left: auto;
      cursor: pointer;
    }
  }
}

.mobileNavOverlayWrapper {
  opacity: 0;
  transition: visibility 0s, opacity 500ms linear;
  z-index: 400;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-color: #ffffff;

  &.active {
    opacity: 1;
    visibility: visible;
  }

  .overlayHeaderWrapper {
    display: flex;
    padding: 18px 20px;
    margin-bottom: 60px;

    .overlayCloseButtonWrapper {
      margin-left: auto;
    }
  }

  .mobileOverlayNavListWrapper {

  }
}