.menuOverlayWrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(#000000, 0.5);
  z-index: 400;
}

.menuContentWrapper {
  position: absolute;
  top: 50%;
  left: 70%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-color: #FFFFFF;
  -webkit-overflow-scrolling: touch;
  outline: none;
  padding: 20px;
  width: 800px;
  height: 560px;
  border-radius: 0;
  box-shadow: rgba(#000000, 0.16);

  img {
    max-height: 300px;
  }
}

.closeButtonWrapper {
  padding-bottom: 16px;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  &.brandModalWrapper {
    position: absolute;
    top: 30px;
    right: 30px;
    padding-bottom: 0;
  }

  .close {
    background-color: transparent;
    border: none;
    font-size: 40px;
    cursor: pointer;
    padding: 0;
    margin: 0;
    line-height: 0.55;
    color: #2f2f2f;

    &.white {
      color: #ffffff;
      text-shadow: 1px 1px 2px #2f2f2f;
    }

    &:focus {
      outline: none;
    }
  }
}

.titleLayerWrapper {
  padding-bottom: 24px;

  .titleWrapper {
    .normalTitle {
      font-family: "Nanum Myeongjo", serif;
      font-size: 24px;
      letter-spacing: 0;
      color: #2f2f2f;
      line-height: 28px;
      font-weight: bold;
      text-align: center;
    }

    .enTitle {
      font-family: "Nanum Myeongjo", serif;
      font-size: 16px;
      letter-spacing: 0;
      color: rgba($color: #2f2f2f, $alpha: 0.5);
      line-height: 21px;
      font-weight: bold;
      text-align: center;
    }
  }

  .price {
    margin-left: auto;
    font-size: 24px;
    font-family: "Nanum Myeongjo", serif;
    letter-spacing: 0;
    color: #2f2f2f;
    text-align: center;
    font-style: italic;
  }
}

.description {
  font-family: "Nanum Myeongjo", serif;
  font-size: 15px;
  line-height: 16px;
  color: #707070;
  letter-spacing: 0;
  padding-bottom: 32px;
}

.brandDescription {
  font-family: "Nanum Myeongjo", serif;
  font-size: 15px;
  line-height: 19px;
  color: #2f2f2f;
  letter-spacing: -0.3px;
  padding-top: 65px;
  text-align: center;
}

.imageBackgroundWrapper {
  background-color: #f4f4f4;
  padding: 30px;
  text-align: center;
}

@media only screen and (max-width: 1200px) {
  .menuContentWrapper {
    box-sizing: border-box;
    width: calc(100% - 40px);
    height: 70%;
    overflow-y: auto;
    left: 50%;

    .titleLayerWrapper {
      padding-bottom: 10px;

      .titleWrapper {
        .normalTitle {
          font-family: "Nanum Myeongjo", serif;
          font-size: 18px;
          letter-spacing: 0;
          color: #2f2f2f;
          font-weight: bold;
          padding-bottom: 4px;
          line-height: normal;
        }

        .enTitle {
          font-family: "Nanum Myeongjo", serif;
          font-size: 16px;
          letter-spacing: 0;
          color: rgba($color: #2f2f2f, $alpha: 0.5);
          line-height: 21px;
          font-weight: bold;
          padding-bottom: 16px;
        }
      }

      .price {
        margin-left: auto;
        font-size: 18px;
        font-family: "Nanum Myeongjo", serif;
        letter-spacing: 0;
        color: #2f2f2f;
        padding-bottom: 16px;
      }
    }

    .description {
      font-family: "Nanum Myeongjo", serif;
      font-size: 12px;
      line-height: 16px;
      color: #707070;
      letter-spacing: 0;
      padding-bottom: 30px;
      word-break: keep-all;
      text-align: center;
    }
  }
}