.storySection {
  padding-top: 20px;
  padding-bottom: 70px;
  position: relative;

  .storyImageWrapper {
    position: relative;
    height: 240px;
    padding-bottom: 40px;

    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .storyDescriptionWrapper {
    position: relative;
    padding-left: 20px;
    padding-right: 20px;

    .storyDescriptionSubTitle {
      font-size: 16px;
      font-family: 'Nanum Myeongjo', serif;
      letter-spacing: 0;
      margin-bottom: 8px;
      color: #707070;
      font-weight: 400;
    }

    .storyDescriptionTitle {
      font-size: 24px;
      font-family: 'Nanum Myeongjo', serif;
      color: #517e71;
      font-weight: 400;
      letter-spacing: 0;
      margin-bottom: 10px;
      word-break: keep-all;
    }

    .storyDescriptionDivider {
      height: 90px;
      width: 2px;
      margin-left: 4px;
      background-color: #517E71;
    }

    .storyDescription {
      padding-top: 10px;
      font-size: 16px;
      font-family: 'Nanum Myeongjo', serif;
      letter-spacing: 0;
      color: #707070;
      line-height: 24px;
    }
  }
}

.storeSection {
  position: relative;

  .storePanelWrapper {
    position: relative;

    .storePanelImageWrapper {
      height: 128px;

      > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .storePanelDescriptionWrapper {
      position: relative;
      padding: 26px 30px;

      .storePanelTitle {
        font-family: 'Nanum Myeongjo', serif;
        font-size: 16px;
        color: #333333;
        letter-spacing: 0;
        margin-bottom: 15px;
        font-weight: bold;
      }

      .storePanelDescription {
        font-size: 12px;
        line-height: 22px;
        color: #333333;
        letter-spacing: 0;
        font-weight: 400;
        font-family: 'Nanum Myeongjo', serif;
      }
    }
  }

  .mapWrapper {
    padding-top: 60px;
    position: relative;

    .mapTitle {
      margin: 20px 0;
      font-size: 16px;
      font-family: 'Nanum Myeongjo', serif;
      font-weight: bold;
      color: #2F2F2F;
      text-align: center;
      letter-spacing: 0;
    }

    .mapDescription {
      color: #2F2F2F;
      font-size: 12px;
      line-height: 17px;
      letter-spacing: 0;
      font-family: 'Nanum Myeongjo', serif;
      text-align: center;
      margin-bottom: 26px;
    }

    .mapStoreLinkWrapper {
      padding: 0 70px;
      margin-bottom: 40px;

      .mapStoreLink {
        display: inline-block;
        width: 100%;
        padding: 21px 0;
        text-align: center;
        background-color: rgba(232, 57, 14, 0.9);
        color: rgba(255, 255, 255, 0.8);
        font-family: 'Nanum Myeongjo', serif;
        font-size: 14px;
        letter-spacing: 0;
        font-weight: 400;
        border-radius: 8px;
        box-shadow: 0 3px 0 rgba(#000, 0.32);
      }
    }
  }
}

.newMenuSection {
  position: relative;
  padding: 40px 20px 50px;

  .newMenuTitle {
    font-family: 'Nanum Myeongjo', serif;
    color: #2F2F2F;
    font-size: 24px;
    letter-spacing: 0;
    font-weight: 500;
    margin-bottom: 26px;
    font-style: italic;
  }
}

.specialSection {
  position: relative;
  background-image: url("../../../../static/images/mobile/img-hibarin-special-back@2x.png");
  background-size: cover;
  padding: 46px 20px 51px;

  .specialTitle {
    font-family: 'Nanum Myeongjo', serif;
    color: #2F2F2F;
    font-size: 24px;
    letter-spacing: 0;
    font-weight: 500;
    margin-bottom: 26px;
    font-style: italic;
  }

  .specialMenuWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #FFFFFF;

    > div, > a {
      flex: 0 0 33.333333%;
      width: 100%;
      max-width: 33.333333%;

      img {
        transition: opacity 250ms;
        opacity: 0.34;
      }

      &:hover, &:focus {
        img {
          opacity: 1;
        }
      }
    }
  }
}
