@font-face {
    font-family: "RyuGHbatang";
    src: local("RyuGHbatangOTF00"),
        url("./static/fonts/RyuGHbatangOTF00.woff2") format("woff2"),
        url("./static/fonts/RyuGHbatangOTF00.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
