.aboutTextWrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .aboutTextTitle {
        font-size: 32px;
        color: #2f2f2f;
        text-align: center;
        letter-spacing: 0;
        font-family: "RyuGHbatang", serif;
        margin: 0;

        .emphasis {
            display: inline-block;
            color: #e8390e;
            font-weight: 700;
        }
    }

    .aboutTextParagraph {
        font-size: 20px;
        color: #2f2f2f;
        text-align: center;
        letter-spacing: 0;
        font-family: "RyuGHbatang", serif;
        margin: 0;

        .emphasis {
            display: inline-block;
            color: #e8390e;
            font-weight: 700;
        }
    }
}

.gridWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;

    .gridColumn {
        max-width: 50%;
        flex-basis: 50%;
        position: relative;

        .gridBackgroundWrapper {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba($color: #000000, $alpha: 0.5);

            .gridText {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: "RyuGHbatang", serif;
                letter-spacing: 0px;
                color: #ffffff;
                text-shadow: 0px 3px 6px #00000029;
                font-size: 33px;
            }
        }
    }
}

.historyWrapper {
    background-color: #ffffff;
    padding: 190px 0 100px;

    .historyLogoWrapper {
        text-align: center;
        padding-bottom: 83px;
    }

    .timeline {
        position: relative;
        margin: 0 auto;
        width: 100%;
    }

    .timeline ul li {
        margin-bottom: 50px;
        list-style-type: none;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }

    .point {
        min-width: 20px;
        height: 20px;
        background-color: #ffffff;
        border-radius: 100%;
        z-index: 2;
        border: 7px solid #dddddd;
        position: relative;
        left: 1px;
        align-self: flex-start;
    }

    @media (max-width: 800px) {
        .point {
            min-width: 15px;
            height: 15px;
        }

        html,
        body {
            font-size: 15px;
        }
    }

    @media (max-width: 650px) {
        html,
        body {
            font-size: 14px;
        }

        .point {
            min-width: 12px;
            height: 12px;
        }
    }

    @media (max-width: 450px) {
        html,
        body {
            font-size: 10px;
        }

        p {
            padding: 10px !important;
        }
    }

    .timeline ul li .content {
        width: 50%;
        padding: 0 20px;
    }

    .timeline ul li:nth-child(odd) .content {
        padding-left: 0;
        text-align: right;
    }

    .timeline ul li:nth-child(odd) .date {
        padding-right: 0;
    }

    .timeline ul li:nth-child(even) .content {
        padding-right: 0;
    }

    .timeline ul li:nth-child(even) .date {
        padding-left: 0;
    }

    .timeline ul li .date {
        width: 50%;
        padding: 0 20px;
        font-weight: normal;
    }

    .timeline ul li .date h4 {
        background-color: #e1ccec;
        width: 100px;
        text-align: center;
        padding: 5px 10px;
        border-radius: 10px;
    }

    .timeline ul li .content h3 {
        padding: 10px 20px;
        background-color: #be9fe1;
        margin-bottom: 0;
        text-align: center;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .timeline ul li:nth-child(even) {
        flex-direction: row-reverse;
    }

    .timeline::before {
        content: "";
        position: absolute;
        height: 100%;
        width: 1px;
        left: 50%;
        background-color: #dddddd;
    }

    .dateText {
        font-family: "RyuGHbatang", serif;
        font-size: 30px;
        letter-spacing: 0;
        color: #2f2f2f;
        padding: 0 20px;
        font-style: italic;
        line-height: 39px;
    }

    ul li:nth-child(even) .dateText {
        float: right;
    }

    .contentTitle {
        font-family: "RyuGHbatang", serif;
        font-size: 18px;
        letter-spacing: 0;
        color: #2f2f2f;
        padding-bottom: 16px;
    }

    .contentDate {
        font-family: "RyuGHbatang", serif;
        font-size: 18px;
        letter-spacing: 0;
        color: #e8390e;
        padding-bottom: 8px;
    }

    .contentParagraph {
        font-family: "RyuGHbatang", serif;
        font-size: 16px;
        letter-spacing: 0px;
        color: #707070;
    }
}
